*{
    font-family: 'Roboto Slab', serif !important;
}

.header{
    background: rgb(76,0,99);
    background: linear-gradient(45deg, rgba(76,0,99,1) 0%, rgba(109,109,255,1) 50%, rgba(0,255,211,1) 100%);
    color: #FFF;
    height: 10cm;
}

.header-title{
    height: 65% !important;
}

.center{
    text-align: center;
}

.btn-header:hover{
    background-color: #ffffff1a !important
}

.body{
    padding: 2rem 0;
    font-size: 1.15rem;
    word-wrap: break-word;
}

.center-div{
    justify-content: center;
}

.video-container{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.title-out-box{
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0;
    color: #644ed3;
}

.title-in-box{
    font-size: 1.3rem;
    font-weight: 600;
    color: #644ed3;
}

.btn-box:hover{
    background-color: #0000001a !important
}

.btn-box:focus{
    box-shadow: none !important;
}

.btn-control, .video-margin{
    margin: 5px;
}

.block{
    margin-top: 50px;
    margin-bottom: 50px;
}